# ===========================================
# Seafile MySQL Configuration
# ===========================================

# MySQL root password (required by MySQL container)
MYSQL_ROOT_PASSWORD=${{ secret("seafile_mysql_root_password", 40) }}
