# ===========================================
# My-Own-Suite Caddyfile
# ===========================================
{
	import /etc/caddy/generated/global-options.caddy
}

import /etc/caddy/generated/built-in-routes.caddy
import /etc/caddy/generated/internal-app-routes.caddy
import /etc/caddy/generated/external-proxies.caddy
