# ===========================================
# Vaultwarden PostgreSQL Configuration
# ===========================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=${{ secret("vaultwarden_pg_password", 32) }}
POSTGRES_DB=vaultwarden
