# ===========================================
# Immich PostgreSQL Configuration
# ===========================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=${{ secret("immich_db_password", 40) }}
POSTGRES_DB=immich
